header{ 
margin:50px ;
background-color: #6720FA;
border:solid 3px  rgb(rgb(251, 255, 0), green, blue)

padding: 10px ;
border: 5px ;
justify-content:color; 
 }

body{
background-color: black;
color: black;
}

section
{background-color: blanchedalmond;}
{margin:50px ;
display: flex;
 }


