header{ 

margin:50 px ;


background-color: #fa20b115;

<section>{ 
  background-attachment: fixed;
  padding: top 58 px;
  display:flex;      }
.primeirachamada{                                                                  
    margin-right: 5% ;
}




border:solid 3 px  rgb(rgb(251, 255, 0), green, blue)

padding: 20 px ;
border: 5 px ;
justify-content:color; 
 }

body{
background-color: black;
color: black;
}

section
{background-color: blanchedalmond;}
{margin:50 px ;
display: flex;
 }


.ASSISTA MAIS VIDEOS SOBRE TRATOR{
    display: flex;
overflow-x: auto;
gap: 10px;
}
