header{ 
margin:50 px ;
background-color: #6720FA;
border:solid 3 px  rgb(rgb(251, 255, 0), green, blue)

padding: 20 px ;
border: 5 px ;
justify-content:color; 
 }

body{
background-color: black;
color: black;
}

section
{background-color: blanchedalmond;}
{margin:50 px ;
display: flex;
 }


